.task--row {
    position: relative;
}

.task--menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #33333325;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    transition: 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task--menu-content {
    background-color: white;
    padding: 20px;
}
