body{
    background: url(https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png);
   background-color: rgb(26, 26, 26);
   font-family: 'Fira Code', monospace;
}

/* -----------------------------------------Шапака сайта------------------------------------------------------------- */
header{
    margin-bottom: 50px;
  }
  
  .header a{
    text-decoration: none;
    color: rgb(185, 185, 185);
    font-size: 30px;
  }
  
  .logo{
    font-size: 30px;
    color: white;
    float: left;
  }
  .nav{
    display: flex;
    float: left;
  }
  .nav div{
    margin: 20px;
  }
  
  .login{
    display: flex;
    justify-content: flex-end;
  }
  .login div{
    margin: 20px;
  }

  nav div a:hover{
    color: aliceblue;
} 
/* -----------------------------Конец шапки сайта---------------------------------------------------------------------- */

.container{
    background: #2b2b2b;
    color: aliceblue;
    margin: 0 auto;
    width: 98%;
    height: auto;
}

.container div{
    border: 1px solid wheat;
    margin: 5px;
    padding: 5px;
}

.container div:hover{
  border: 3px solid wheat;
}

.nameTable{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.nameTable h1{
    margin: 0 auto;
    color: #df5211;
}



